.App {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  button{
    padding: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid blue;
  
  }
  p{
    border: 1px solid blue;
    width: 20vw;
    height: 3vw;
  }